<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Usuarios' %></h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:admin) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="record" data-class="users" data-id="<%= user.id %>">
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td>
        	<div id="active" class="switch switch-mini">
        		<%= check_box_tag :active, '', user.active? %>
	        </div>
        </td>
        <td>
        	<%
        		adm = '', dig = ''
        		if user.admin?
        			adm = 'selected'
        			dig = ''
        		else
        			adm = ''
        			dig = 'selected'
        		end 
        	%>
        	<%= select_tag :admin, 
        	("<option value='1' "+adm+">Administrador</option><option value='0' "+dig+">Digitador</option>").html_safe, 
        	:class =>'btn-mini' %>
        </td>
        <td class="btn-group">
          <%= link_to "Editar",
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to "Eliminar",
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Crear usuario",
            new_user_path,
            :class => 'btn btn-primary' %>
