<!DOCTYPE html>
<html lang="es">
<head>
  <title>EducaUC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- bootstrapSwitch components -->
</head>
<body>

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/">EducaUC</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <ul class="nav pull-right">
      <% if !(@logged_user.nil?) %>
		    <% if(@logged_user.admin?) %>
		    	<% role = 'Admin' %>
		    <% else %>
		    	<% role = 'Digitador' %>
		    <% end %>
		    <li>
		    	<a href=<%="#{user_path(@logged_user)}"%>>
		    		<i class='icon-user'></i>
		    		<%= "#{@logged_user.name} #{@logged_user.lastname} - #{role}" %>
		    	</a>
		    </li>
		    <li class="divider-vertical"></li>
		    <li><%= link_to '(Logout)', logout_path %> </li>
      <% end %>

    </ul>
  </div>
</div>

<div id="page">

	<!-- creamos vista 3/9 para menú al lado izquierdo -->
	<div id="main" class="row">
		<% if !(@logged_user.nil?) %>
			<ul class="span3 nav nav-tabs nav-stacked">
				<li><%= link_to 'Ver Perfil', user_path(@logged_user) %></li>
				<li><%= link_to 'Nuevo Informe', new_evaluacion_path %></li>
				<% if(@logged_user.admin?) %>
				<li><%= link_to "Editar Centros", centros_path %></li>
				<li><%= link_to "Editar Usuarios", users_path %></li>
				<% end %>
			</ul>
		<% end %>
		<div class="span9">	
			<%= yield %>
		</div>
	</div>

</div>

</body>
</html>
