<!DOCTYPE html>
<html>
<head>
  <title>EducaUC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">EducaUC</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <ul class="nav pull-right">
      <% if !(@logged_user.nil?) %>
		    <% if(@logged_user.admin?) %>
		    	<% role = 'Admin' %>
		    <% else %>
		    	<% role = 'Digitador' %>
		    <% end %>
		    <li>
		    	<a href=<%="#{user_path(@logged_user)}"%>>
		    		<i class='icon-user'></i>
		    		<%= "#{@logged_user.name} #{@logged_user.lastname} - #{role}" %>
		    	</a>
		    </li>
		    <li class="divider-vertical"></li>
		    <li>
		    	<a href="">logout</a>
		    </li>
      <% end %>

    </ul>
  </div>
</div>

<div id="page">
	<% if !(@logged_user.nil?) %>
	<div id="logo"></div>
		<div id="log_menu" class="cc01">
			<p><%= @logged_user.email%> - Digitador</p>
			<p><b><%= @logged_user.name%> <%= @logged_user.lastname%> <%= link_to '(Logout)', logout_path %> </b></p>
		</div>
	<div id="menu" class="cc01">
		<p><%= link_to 'Nuevo Informe', new_evaluacion_path %> | <%= link_to 'Ver Perfil', user_path(@logged_user) %> </p>
	</div>
	<% end %>

	<div id="main" class="cc01 container">
	<%= yield %>
	</div>

</div>
</body>
</html>
