<!DOCTYPE html>
<html lang="es">
<head>
  <title>EducaUC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- bootstrapSwitch components -->
</head>
<!--style="background-color: grey;"-->
<body class="container">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">EducaUC</a>
    <ul class="nav pull-right">
      <% if !(@logged_user.nil?) %>
		    <li>
		    	<a href=<%="#{user_path(@logged_user)}"%>>
		    		<i class='icon-user'></i>
		    		<%= "#{@logged_user.name} #{@logged_user.lastname} - #{@logged_user.role}" %>
		    	</a>
		    </li>
		    <li class="divider-vertical"></li>
		    <li><%= link_to '(Cerrar sesión)', logout_path %> </li>
      <% end %>

    </ul>
  </div>
</div>

<div id="page" class="row">

	<!-- creamos vista 3/9 para menú al lado izquierdo -->
		<% if !(@logged_user.nil?) %>
			<ul id="left-menu" class="nav nav-tabs nav-stacked span3">
				<li><%= link_to 'Ver Evaluaciones', evaluacions_path %></li>
				<li><%= link_to 'Crear Evaluación', new_evaluacion_path %></li>
				<li></li>
				<% if(@logged_user.admin?) %>
				<li><%= link_to "Administrar Centros", centros_path %></li>
				<li><%= link_to "Administrar Usuarios", users_path %></li>
				<li><%= link_to 'Ver Perfil', user_path(@logged_user) %></li>
				<% end %>
			</ul>
		<% end %>
		<div id="content" class="offset3 span8">	
			<ul id="errorUl">
			</ul>
			<%= yield %>
		</div>

</div>

</body>
</html>
