<%= fields_for @evaluacion do |f| %>
	<%= f.fields_for :escala do |escala| %>
		<div class = "escala"	>
			<h3><%=  "Escala: #{@escala.escala_template.nombre}"%></h3>
			<%= escala.hidden_field :escala_template_id %>				
		
			<% if @escala.id != nil %>
				<% subescalas = @escala.subescala.order("subescala_template_id ASC") %>
			<% else %>
				<% subescalas = @escala.subescala %>
			<% end %>
			<% subescalas.each.with_index do |subescala, sub_esc_index| %>				
				<%= escala.fields_for :subescala, subescala do |sub_escala| %>
					<%= render 'sub_escala_fields', :subescala => subescala, :sub_esc_index => sub_esc_index, :sub_escala => sub_escala %>
				<% end %>			
			<% end %>				
		</div>
	<% end %>
<% end %>
