<%= form_for(@evaluacion) do |f| %>
  <% if @evaluacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluacion.errors.count, "error") %> prohibited this evaluacion from being saved:</h2>

      <ul>
      <% @evaluacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_sala %><br />
    <%= f.text_field :nombre_sala %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_evaluacion %><br />
    <%= f.datetime_select :fecha_de_evaluacion %>
  </div>
  <div class="field">
    <%= label_tag :encargado, "Encargado:" %>
    <%= label_tag :encargado, "#{@user.name} #{@user.lastname}" %>
  </div>
  <div class="field">
    <%= f.label :horario_inicial %><br />
    <%= f.time_select :horario_inicial %>
  </div>
  <div class="field">
    <%= f.label :horario_final %><br />
    <%= f.time_select :horario_final %>
  </div>
  <div class="field">
    <%= label_tag "Seleccione escala de evaluación"  %>
    <% @escalas = EscalaTemplate.all %>
    <%= select_tag "escala", options_from_collection_for_select(@escalas, "id", "nombre") %>
  </div>
  
  <!-- Por ahora cargaremos Iters por defecto --> 
  <%= f.fields_for :escala do |escala| %>
  	<div class = escala	>
			<h2><%=  "#{@escala.escala_template.nombre}"%></h2>
			<%= escala.hidden_field :escala_template_id %>				
			
			<% @escala.subescala.each.with_index do |subescala, sub_esc_index| %>				
				<%= escala.fields_for :subescala, subescala do |sub_escala| %>
					<div class = "sub_escala">
						<h3><%="#{sub_esc_index+1}.- #{subescala.subescala_template.nombre}"%></h3>
						<%= sub_escala.hidden_field :subescala_template_id %>				

						<% subescala.item.each.with_index do |item, item_index| %>
							<%= sub_escala.fields_for :item, item do |item_f| %>
								
								<div class = "item">
									<h4><%="#{item_index+1}.- #{item.item_template.nombre}" %></h4>
									<%= item_f.hidden_field :item_template_id %>				

									<% if item.item_template.has_na %>
										<%= item_f.label "N/A" %>
										<%= item_f.check_box :eval, 0 %>
									<% end %>
									
									<div class = "observaciones" >
										<%= item_f.label :observaciones %> <br />
										<%= item_f.text_field :observaciones, :class => "observaciones" %>
									</div>

									<% item.indicador.order("indicador_template_id ASC").each.with_index do |indicador, ind_index| %>
										<%= item_f.fields_for :indicador, indicador do |ind_f| %>
											<%= ind_f.hidden_field :indicador_template_id %>				
											<% if indicador.indicador_template.fila == 1 && indicador.indicador_template.columna != 1 %>
												</table>
											<% end %>
		
											<% if indicador.indicador_template.fila == 1 %>
												<table class = "columna_<%=indicador.indicador_template.columna%>">
													<th>Ind.</th>
													<th>SI</th>
													<th>NO</th>
													<th>N/A</th>
											<% end %>
		
											<tr>
												<td>
													<%="#{indicador.indicador_template.columna}.#{indicador.indicador_template.fila}"%>
												</td>
		
												<td><%= ind_f.radio_button :eval, true %></td>
												<td><%= ind_f.radio_button :eval, false %></td>
												<td>
													<% if indicador.indicador_template.has_na %>
														<%= ind_f.radio_button :eval, "asd" %>
													<% end %>
												</td>
											</tr>
										<% end %>
									<% end %>
									</table>								
								</div>
							<% end %>
						<% end %>	
				
					</div>
				<% end %>			
			<% end %>
						
  	</div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
