<%= form_for @evaluacion, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @evaluacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluacion.errors.count, "error") %> prohibited this evaluacion from being saved:</h2>

      <ul>
      <% @evaluacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre_sala, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_sala, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fecha_de_evaluacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :fecha_de_evaluacion, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :encargado, "Encargado:", :class => 'control-label' %>
    <div class="controls">
      <%= label_tag :encargado, "#{@user.name} #{@user.lastname}", :class => 'control-label' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :horario_inicial, :class => 'control-label' %>
    <div class="controls time">
      <%= f.time_select :horario_inicial, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :horario_final, :class => 'control-label' %>
    <div class="controls time">
      <%= f.time_select :horario_final, :class => 'time_select' %>
    </div>
  </div>
	<div class="control-group">
	  <%= label_tag :escala, "Seleccione centro en que se realizó la evaluación", :class => 'control-label' %>
	  <div class="controls">
	  <% @centros = Centro.all %>
	  <%= collection_select(:evaluacion, :centro_id, @centros, :id, :nombre, :prompt => "--------------------") %>
	  </div>
	</div>
  <% if @evaluacion.escala != nil %>
  <div class="control-group">
    <%= label_tag :escala, "Escala de evaluación:", :class => 'control-label' %>
    <div class="controls">
      <%= label_tag :escala,  "#{@evaluacion.escala.escala_template.nombre}", :class => 'control-label'%>
    </div>
  </div>  
  <% else %>
		<div class="control-group">
		  <%= label_tag :escala, "Seleccione escala de evaluación", :class => 'control-label' %>
		  <div class="controls">
		  <% @escalas = EscalaTemplate.all %>
		  <%= select_tag "escala", options_from_collection_for_select(@escalas, "id", "nombre"), :class => 'select_field', :prompt => "--------------------" %>
		  </div>
		</div>
	<% end %>
  
  <!-- Por ahora cargaremos Iters por defecto  -->
  <% if @evaluacion.escala != nil %>
		<div id="escala_container">
  		<%= render 'escala' %>
  	</div>
  <% else %>
  	<div id="ajax_container">
			<div id="error"></div>
		
			<div id="loading"></div>
		
			<div id="escala_container" class="not_loaded"></div>
		</div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Enviar Evaluación" %>
  </div>
<% end %>
