<%= ind_f.hidden_field :indicador_template_id %>				
<% if indicador.indicador_template.fila == 1 && indicador.indicador_template.columna != 1 %>
	</table>
<% end %>

<% if indicador.indicador_template.fila == 1 %>
	<table class = "columna_<%=indicador.indicador_template.columna%> span">
	<tr class='table_header'>
		<th>Ind.</th>
		<th>SI</th>
		<th>NO</th>
		<th>N/A</th>
		<th></th>
	</tr>
<% end %>

<tr>
	<td>
		<%="#{indicador.indicador_template.columna}.#{indicador.indicador_template.fila}"%>
	</td>

	<% if(indicador.columna == 1) %>
		<td><%= ind_f.radio_button :eval, 0, :class => "no_node"%></td>
		<td><%= ind_f.radio_button :eval, 1, :class => "si_node"%></td>
	<% else %>		
		<td><%= ind_f.radio_button :eval, 1, :class => "si_node"%></td>
		<td><%= ind_f.radio_button :eval, 0, :class => "no_node"%></td>
	<% end %>

	<td>
		<% if indicador.indicador_template.has_na %>
			<%= ind_f.radio_button :eval, -1, :class => '' %>
		<% end %>
	</td>
	<td>
		<!-- Agregamos botón para borrar indicador y un radiobutton oculto que se encargue de
		volver a setear :eval a su valor por defecto (en este caso, -2) -->
		<a href="javascript:void(0);" class="details_btn btn-mini close active">×</a>
		<%= ind_f.radio_button :eval, -2, :class => 'default_node'%>
	</td>
</tr>
