<%- model_class = Evaluacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Evaluaciones por Centro" %></h1>
</div>

<% @evaluacions.group_by(&:centro).each do |centro, evaluaciones| %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="4"><%= centro.nombre %></th>
				<th>
		      <%= link_to "/evaluaciones/download/#{centro.id}", :rel => 'tooltip', :title => "Descargar pdf",
		      	:id => 'pdf_download_button'+centro.id.to_s, :class => 'btn btn-mini' do %>
		      	
		      	<i class="icon-download-alt"></i> Descargar
		      <% end %>
				</th>
		  <tr>
		    <th><%= model_class.human_attribute_name(:nombre_sala) %></th>
		    <th>Escala de evaluación</th>
		    <th><%= model_class.human_attribute_name(:fecha_de_evaluacion) %></th>
		    <th><%= model_class.human_attribute_name(:encargado) %></th>
		    <th></th>
		  </tr>
		</thead>
		<tbody>
		<% evaluaciones.each do |evaluacion| %>
		  <tr class="record" data-class= "evaluaciones" data-id="<%= evaluacion.id %>">
		    <td><%= evaluacion.nombre_sala %></td>
		    <td><%= evaluacion.escala.escala_template.nombre %></td>
		    <td><% date = evaluacion.fecha_de_evaluacion %>
		    		<%= "#{date.day}-#{date.month}-#{date.year}" %>
		    </td>
		    <td><%= "#{evaluacion.user.name} #{evaluacion.user.lastname}" %></td>
		    <td>
		      
		      <%= link_to edit_evaluacion_path(evaluacion), :rel => 'tooltip', :title => "Editar evaluación", 
		      	:class => 'btn btn-mini' do %>
		      	<i class="icon-pencil"></i>
		      <% end %>
		      
		      <%= link_to evaluacion_path(evaluacion),
            :method => :delete,
            :data => { :confirm => "¿Está seguro que desea eliminar esta evaluación?" },
            :rel => 'tooltip', :title => "Eliminar evaluación",
            :class => 'btn btn-mini btn-danger' do %>
		        
		        <i class="icon-trash"></i>
		      <% end %>
		    </td>
		  </tr>
			<% end %>
		</tbody>
	</table>
<% end %>
