<%- model_class = Evaluacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<table class="table table-bordered">
  <tr>
  	<th>Nombre centro:</th>
  	<td><%= @evaluacion.centro.nombre %></td>
  </tr>
  <tr>
  	<th><%= model_class.human_attribute_name(:nombre_sala) %>:</th>
  	<td><%= @evaluacion.nombre_sala %></td>
  </tr>
  <tr>
  	<th><%= model_class.human_attribute_name(:encargado) %>:</th>
		<td><%= "#{@user.name} #{@user.lastname}"%></td>
	</tr>
  <tr>
  	<th><%= model_class.human_attribute_name(:fecha_de_evaluacion) %>:</th>
  	<% date = @evaluacion.fecha_de_evaluacion %>
  	<td><%= "#{date.day}-#{date.month}-#{date.year}" %></td>
  </tr>
  <tr>
  	<th><%= model_class.human_attribute_name(:horario_inicial) %>:</th>
  	<% h_ini = @evaluacion.horario_inicial.in_time_zone("Santiago") %>
  	<td><%= h_ini.to_s(:time) %></td>
  </tr>
  <tr>
  	<th><%= model_class.human_attribute_name(:horario_final) %>:</th>
  	<% h_fin = @evaluacion.horario_final.in_time_zone("Santiago") %>
  	<td><%= h_fin.to_s(:time) %></td>
  </tr>
</table>

<div id="show-escala">
	<%= render :partial => 'escala' %>
</div>

<% confirm_string = "¿Está seguro que desea borrar esta evaluación? Esta acción es irreversible." %>
<div class="btn-group float-right">
	<%= link_to "Atrás",
	            evaluacions_path, :class => 'btn'  %>
	<%= link_to "Editar Evaluación",
	            edit_evaluacion_path(@evaluacion), :class => 'btn' %>
	<%= link_to "Eliminar",
	            evaluacion_path(@evaluacion),
	            :method => 'delete',
	            :data => { :confirm => "#{confirm_string}" },
	            :class => 'btn btn-danger float-right' %>
</div>
